/taller10bd/JavaApplication24/nbproject/private/
/taller10bd/JavaApplication24/build/
/taller11bd/taller11bd/nbproject/private/
/taller11bd/taller11bd/build/
/taller 10bd/taller10bdjava/build/
/taller 10bd/taller10bdjava/nbproject/private/
/taller 11/taller11bd/build/
/taller 11/taller11bd/nbproject/private/
